{% load static %} <!-- #08 Carrega o template static para usar arquivos estáticos -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> <!-- #08 Link para o arquivo CSS -->
</head>
<body>
    <center>
    <h1>Index</h1>

    <h2>{{ curso }}</h2> <!-- #07 valor de uma variável "views.py" -->

    <p>{{ outro }}</p> <!-- #07 valor de uma variável "views.py" -->

    <table> <!-- #08 Tabela para exibir os produtos -->
        <thead> <!-- #08 Cabeçalho da tabela -->
            <tr> <!-- #08 Linha do cabeçalho -->
                <th>Produto</th> <!-- #08 Nome do produto -->
                <th>Preço</th>
            </tr>
        </thead>
        <tbody> <!-- #08 Corpo da tabela -->
        {% for produto in produtos %} <!-- #08 Loop para exibir cada produto -->
            <tr>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td> <!-- #08 Link para o produto -->
                <td>{{ produto.preco }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    <button onclick="teste();">Clique-me</button>
    <br/><br/>
    <div><img src="{% static 'images/django.png' %}"/> <!-- #08 Imagem do Django --></div>
    
    </center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script> <!-- #08 Link para o arquivo JavaScript -->
</body> 
</html>