{% load static %} <!-- #08 Carrega o template static para usar arquivos estáticos -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> <!-- #08 Link para o arquivo CSS -->
</head>
<body>
    <center>
        
    <h1>Produto</h1>

    <table> <!--#07 Tabela para exibir os detalhes do produto -->
        <thead> <!--#07 Cabeçalho da tabela -->
            <tr> <!--#07 Linha do cabeçalho -->
                <th>Produto</th> <!--#07 Nome do produto -->
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody> <!--#07 Corpo da tabela -->
            <tr>
                <td><a href="{% url 'index' %}">{{ produto.nome }}</a></td> <!--#07 Link para o produto -->
                 <td>{{ produto.preco }}</td>
                 <td>{{ produto.estoque }}</td>
            </tr>
        </tbody>
    </table>
    </center>

</body>
</html>